
* {
  font-family: 'New Rocker', cursive;
  box-sizing: border-box;
  font-size: 28px;
}

html,body {
  min-width: 320px;
}

.wrapper {
  background-color: black;
  background: url("https://image.ibb.co/ft818v/dark_forest.jpg");
  background-attachment: fixed;
  background-size: cover;
}

.overlay {
  position: relative;
  background: rgba(0, 0, 0, 0.50);
}
 
.row::after {
    content: "";
    clear: both;
    display: table;
}

[class*="col-"] {
    float: left;
    padding: 15px;
}

/* For mobile phones: */
[class*="col-"] {
    width: 100%;
}

.img {
    display:block;
    margin:auto;
    max-width: 100%;
}

.fa-3 {
  font-size: 3em;
}

.btn {
  cursor: pointer;
}

iframe {
  min-height: 520px;
  max-width: 75%;
  min-width: 290px;
  border-radius: 5px;
  border-width: 16px 0 0 0;
  border-color: white;
  border-style: solid;
  width: 100%;
  overflow: hidden; 
}

.fixed {
  padding: 0;
  position: fixed;
  z-index: 10;
}

#left-nav {
  background: rgba(0, 0, 0, 0.85);
  color: white;
  -webkit-box-shadow: 10px 0px 15px -2px rgba(0,0,0,0.69);
  -moz-box-shadow: 10px 0px 15px -2px rgba(0,0,0,0.69);
  box-shadow: 10px 0px 15px -2px rgba(0,0,0,0.69);
  min-width: 320px;
}

#main {
  color: white;
  text-align: center;
  height: 100%;
}

#header {
    margin-top: 200px;
}


.wobble {
  -webkit-animation: wobble 1500ms linear both;
  animation: wobble 1500ms linear both;
}

.teleport {
  -webkit-animation: teleport 1000ms linear both;
  animation: teleport 1000ms linear both;
}

#my-pic {
  -webkit-box-shadow: 0px 1px 31px 6px rgba(255,255,255,1);
  -moz-box-shadow: 0px 1px 31px 6px rgba(255,255,255,1);
  box-shadow: 0px 1px 31px 6px rgba(255,255,255,1);  
  border-radius: 10px;
}

.link-wrapper, {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;  
  background: none;
  -webkit-transition: 500ms all;  
  -moz-transition: 500ms all;
  transition: 500ms all;
}

.link-wrapper:hover {
  -webkit-box-shadow: 0px 0px 26px 12px rgba(0,0,0,0.9);
  -moz-box-shadow: 0px 0px 26px 12px rgba(0,0,0,0.9);
  box-shadow: 0px 0px 26px 12px rgba(0,0,0,0.9);  
  background: rgba(0, 0, 0, 0.85);
  -webkit-transition: 350ms all;  
  -moz-transition: 350ms all;
  transition: 500ms all;  
}

.section {
  min-height: 750px;
  margin-top: 225px;
}

a:link, a:visited {
    text-decoration: none;
    color: white;
    text-decoration: none;
}

.left-nav-item {
  color: white;
  width: 100%;
  line-height: 60px;
  padding: 0;
  text-align: center;
  margin: 5px 0 10px 0;
  background: rgba(0, 0, 0, 0.0);
  -webkit-box-shadow: 0px 0px 26px 12px rgba(0,0,0,0.0);
  -moz-box-shadow: 0px 0px 26px 12px rgba(0,0,0,0.0);
  box-shadow: 0px 0px 26px 12px rgba(0,0,0,0.0);
  -webkit-transition: 350ms all;  
  -moz-transition: 350ms all;
  transition: 350ms all;      
}

.left-nav-item:hover {
  color: black;
  padding: 0;
  margin: 0;
  line-height: 60px;  
  cursor: pointer;
  background: rgba(255, 255, 255, 0.88);  
  -webkit-box-shadow: 0px 0px 26px 12px rgba(255,255,255,0.9);
  -moz-box-shadow: 0px 0px 26px 12px rgba(255,255,255,0.9);
  box-shadow: 0px 0px 26px 12px rgba(255,255,255,0.9);  
  -webkit-transition: 500ms all;  
  -moz-transition: 500ms all;
  transition: 500ms all;    
  -webkit-animation: pulse 750ms infinite both;
  -moz-animation: pulse 750ms infinite both;  
  animation: pulse 750ms infinite both;  

}

.hidden {
  display: none;
}

#rollup {
  text-align: center;
  color: white;
  font-size: 2em;
}

#rollup:hover {
  cursor:pointer;
}


@media screen and (max-width: 320px) and (orientation: potrait) {
  
  * {
    font-size: 68px;
  }
}


@media screen and (min-width: 640px) and (orientation: potrait) {
  
  * {
    font-size: 48px;
  }
}


@media only screen and (min-width: 1100px) and (orientation: landscape) {
  
  .fixed {
    padding: 15px;
  }

  .section {
    margin-top: 0px;
  }  
  
  #left-nav {
    height:100vh;
    min-width: 180px;
    width: 180px;
    text-align: center;
  }  
    
  #header {
    margin-top: 100px;
  }
 
  
  .hidden {
    display: block;
  }
  
  #rollup {
    display: none;
  }
    /* For desktop: */
  .col-1-sm {width: 8.33%;}
  .col-2-sm {width: 16.66%;}
  .col-3-sm {width: 25%;}
  .col-4-sm {width: 33.33%;}
  .col-5-sm {width: 41.66%;}
  .col-6-sm {width: 50%;}
  .col-7-sm {width: 58.33%;}
  .col-8-sm {width: 66.66%;}
  .col-9-sm {width: 75%;}
  .col-10-sm {width: 83.33%;}
  .col-11-sm {width: 91.66%;}
  .col-12-sm {width: 100%;}
}


@keyframes teleport {
  0% {
    transform: scale(0.1);
    opacity: 0;
  }
  60% {
    transform: scale(1.2);
    opacity: 1;
  }
  100% {
    transform: scale(1);
  }
}

@media only screen and (min-width: 1480px) and (orientation: landscape) {

  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}

}


@media only screen and (min-width: 1921px) {
  * {
    font-size: 48px;
  }

}

@media only screen and (min-width: 1921px) and (orientation: landscape) {
  .col-1-xl {width: 8.33%;}
  .col-2-xl {width: 16.66%;}
  .col-3-xl {width: 25%;}
  .col-4-xl {width: 33.33%;}
  .col-5-xl {width: 41.66%;}
  .col-6-xl {width: 50%;}
  .col-7-xl {width: 58.33%;}
  .col-8-xl {width: 66.66%;}
  .col-9-xl {width: 75%;}
  .col-10-xl {width: 83.33%;}
  .col-11-xl {width: 91.66%;}
  .col-12-xl {width: 100%;}


  #left-nav {
    min-width: 400px;
  }  
}