
* {
  box-sizing: border-box;
  font-size: 16px;
}

html {
  padding: 0;
  margin: 0;
}

body {
  padding: 0;
  margin: 0;
  font-family: 'Orbitron', sans-serif;
  background-color: #66B266;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

.container-fluid, .container {
  padding: 0;
  margin: 0;
  width: 100%;
}

[class*="col-"] {
    float: left;
}

[class*="col-"] {
    width: 100%;
}

.img {
    display:block;
    margin:auto;
    max-width: 100%;
}

.btn {
  cursor: pointer;
}

.hide {
  display: none;
}

.outline {
  border: 2px groove grey;
}

.no-select {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;    
}

#title {

  margin-bottom: 20px;
  text-align: center;
  font-size: 2em;
  color: white;
  border-top: 3px dashed white;
  border-bottom: 3px dashed white;
}

#calculator{
  background-color: #202926;
  margin:auto;
  max-width: 400px;
  table-layout: fixed;
}

#display {
  height: 100px;
}

#output {
  display: inline-block;
  width: 305px;
  height: 50px;
  margin: 25px 25px;
  font-size: 1.2em;
  text-align: right;
  padding-top: 10px;
  background-color: #92B798;
  color: #202926;
  overflow: hidden;
}

#interface {
  height: 400px;
}

#buttons {
  border-spacing: 18px;
}

#buttons td {
  width: 25%;
  font-size: 1.6em;
  font-weight: bold;
  text-align: center;
  border: 5px groove grey;
  border-radius: 6px;
  background-color: #778F9B;
  color: white;
  cursor: pointer;
}


#buttons .special {
  background-color: #76BBE0;
}

#buttons .operator {
  background-color: #454F52;
}

#buttons #power-btn {
  background-color: #6B8E23;

}

#buttons #clear-btn {
  background-color: #CD5C5C;
}

#buttons #equals-btn {
  background-color: #F0B25B;
}

#buttons td:active {
  border: 5px solid white;
}



@media only screen and (min-width: 768px) and (orientation: landscape) {

  .container {
    padding: 100px 200px 0 200px;
  }

  #output {
    width: 350px;
  }

  #title {
    max-width: 400px;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;

    padding: 10px;
    text-align: center;
    font-size: 2em;
    color: white;
    border-top: 3px dashed white;
    border-bottom: 3px dashed white;
  }

  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}

}
